# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
import zipfile

df1 = pd.DataFrame()
df2 = pd.DataFrame()
df_zip = zipfile.ZipFile('Data.zip')
for i in range(10):
    df1 = pd.concat([df1, pd.read_csv(df_zip.open(f'Data/Students_info_{i}.csv'))])
    df2 = pd.concat([df2, pd.read_csv(df_zip.open(f'Data/Students_marks_{i}.csv'))])
df = pd.merge(df1, df2, on='index')
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
df = df.drop('index', axis=1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
df[['math score', 'reading score', 'writing score']].describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
#1000/1000 non-null objects
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   group                        1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 78.1+ KB

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
df = df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [12]:
print(df[df['math score'] >= 50].shape[0] / df.shape[0])
print(df[(df['test preparation'] == 'completed') & (df['math score'] >= 50)].shape[0] / df.shape[0])
print(df[(df['test preparation'] == 'none') & (df['math score'] < 50) & (df['gender'] == 'female')].shape[0] /
      df[df['gender'] == 'female'].shape[0])

0.865
0.33
0.13513513513513514

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [13]:
print(df.groupby('race/ethnicity')['reading score'].mean())
%timeit df.groupby('race/ethnicity')['reading score'].mean()
print('-' * 30)
print(df.groupby('education')['writing score'].min())
%timeit df.groupby('race/ethnicity')['reading score'].mean()

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
554 µs ± 172 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
------------------------------
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
411 µs ± 23.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [14]:
def reading_score(df):
    d = dict()
    for i in range(df.shape[0]):
        s = df['race/ethnicity'][i]
        d.setdefault(f'{s}',[0,0])
        d[f'{s}'][0] += df['reading score'][i]
        d[f'{s}'][1] += 1
    for i in d.keys():
        d[i] = d[i][0]/d[i][1]
    return d

print(reading_score(df))
%timeit reading_score(df)
print('-' * 30)

def writing_score(df):
    d = dict()
    for i in range(df.shape[0]):
        s = df['education'][i]
        d.setdefault(f'{s}',df['writing score'][i])
        if df['writing score'][i] < d[f'{s}']:
            d[f'{s}'] = df['writing score'][i]
    return d

print(writing_score(df))
%timeit writing_score(df)

{'group B': 67.35263157894737, 'group C': 69.10344827586206, 'group A': 64.67415730337079, 'group D': 70.03053435114504, 'group E': 73.02857142857142}
9.44 ms ± 674 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
------------------------------
{"bachelor's degree": 38, 'some college': 19, "master's degree": 46, "associate's degree": 35, 'high school': 15, 'some high school': 10}
13.8 ms ± 501 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [15]:
pd.pivot_table(data=df[['gender', 'education', 'math score', 'reading score', 'writing score']],
               index=['gender', 'education'])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [16]:
for i in ['Math', 'Reading', 'Writing']:
    df[f'{i}_PassStatus'] = df[f'{i.lower()} score'] > passmark
    df = df.replace({f'{i}_PassStatus': {False: 'F', True: 'P'}})
    print(f"{i} сдали - {len(df[df[f'{i}_PassStatus'] == 'P'])}, не сдали - {len(df[df[f'{i}_PassStatus'] == 'F'])}")
df

Math сдали - 850, не сдали - 150
Reading сдали - 903, не сдали - 97
Writing сдали - 876, не сдали - 124

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P
996,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P
997,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P
998,female,group D,some college,standard,completed,group10,68,78,77,P,P,P
999,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [17]:
df['OverAll_PassStatus'] = (df['Math_PassStatus'] == 'P') & (df['Reading_PassStatus'] == 'P') & (
        df['Writing_PassStatus'] == 'P')
df = df.replace({'OverAll_PassStatus': {False: 'F', True: 'P'}})
print(df.head())
print('-'*30)
print(f"все сдали - {len(df[df['OverAll_PassStatus'] == 'P'])}")

   gender race/ethnicity           education         lunch test preparation  \
0  female        group B   bachelor's degree      standard             none
1  female        group C        some college      standard        completed
2  female        group B     master's degree      standard             none
3    male        group A  associate's degree  free/reduced             none
4    male        group C        some college      standard             none

    group  math score  reading score  writing score Math_PassStatus  \
0  group1          72             72             74               P
1  group1          69             90             88               P
2  group1          90             95             93               P
3  group1          47             57             44               F
4  group1          76             78             75               P

  Reading_PassStatus Writing_PassStatus OverAll_PassStatus
0                  P                  P                  P
1                  P                  P                  P
2                  P                  P                  P
3                  P                  F                  F
4                  P                  P                  P
------------------------------
все сдали - 796

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [18]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    elif average_mark >= 80:
        return 'B'
    elif average_mark >= 70:
        return 'C'
    elif average_mark >= 60:
        return 'D'
    elif average_mark >= 50:
        return 'E'
    return 'F'

df['Grade'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)
df['Grade'] = df['Grade'].apply(GetGrade)
print(df.head())
df['Grade'].value_counts()

   gender race/ethnicity           education         lunch test preparation  \
0  female        group B   bachelor's degree      standard             none
1  female        group C        some college      standard        completed
2  female        group B     master's degree      standard             none
3    male        group A  associate's degree  free/reduced             none
4    male        group C        some college      standard             none

    group  math score  reading score  writing score Math_PassStatus  \
0  group1          72             72             74               P
1  group1          69             90             88               P
2  group1          90             95             93               P
3  group1          47             57             44               F
4  group1          76             78             75               P

  Reading_PassStatus Writing_PassStatus OverAll_PassStatus Grade
0                  P                  P                  P     C
1                  P                  P                  P     B
2                  P                  P                  P     A
3                  P                  F                  F     F
4                  P                  P                  P     C

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64